# Set methods

In [2]:
c = set()

In [3]:
# To add one element to a set use add()
c.add(1)
c.add(2)
c.add(3)

In [4]:
c

{1, 2, 3}

In [5]:
# To discard one element of the set use the method discard()
c.discard(1)
c

{2, 3}

In [6]:
c.add(1)
c

{1, 2, 3}

In [7]:
# Make a copy of a set
c2 = c.copy()
c2

{1, 2, 3}

In [8]:
c2.discard(3)

In [9]:
print(c2)
print(c)

{1, 2}
{1, 2, 3}

In [10]:
c2.clear()
c2

set()

In [11]:
c1 = {1, 2, 3}
c2 = {3, 4, 5}
c3 = [-1, 99]
c4 = {1, 2, 3, 4, 5}

In [12]:
# To know if a set has no elements in another set
c1.isdisjoint(c3)

True

In [13]:
# This will be false because c1 has one element in c2
c1.isdisjoint(c2)

False

In [14]:
# To know if a set is a subset of another set
# This will be true because c1 has elements of the set c4
c1.issubset(c4)

True

In [15]:
# To know if a set is a container of another set
c4.issuperset(c1)

True

In [16]:
c4.issuperset(c2)

True

In [17]:
c4.issuperset(c3)

False

In [18]:
# One union of two sets, this will not update any set
c1.union(c2)

{1, 2, 3, 4, 5}

In [19]:
# c1 = {1, 2, 3}
# c2 = {3, 4, 5}
# c3 = [-1, 99]
# c4 = {1, 2, 3, 4, 5}

c1.union(c2) == c4

True

In [20]:
# If we want to update the sets we have to write the method update()
c1.update(c2)
c1

{1, 2, 3, 4, 5}

In [22]:
# How to find the elements that are not the same in the sets
c1 = {1, 2, 3}
c2 = {3, 4, 5}
# This will throw the elements of c1 that are not equal to c2
c1.difference(c2)

{1, 2}

In [31]:
# If we want to update the set
c1.difference_update(c2)
c1

{1, 2}

In [32]:
c1 = {1, 2, 3}
c2 = {3, 4, 5}

# Check the elements that are in common with two sets
c1.intersection(c2)

{3}

In [33]:
# If we want to update the set that was intersected
c1.intersection_update(c2)
c1

{3}

In [34]:
c1 = {1, 2, 3}
c2 = {3, 4, 5}
c3 = [-1, 99]
c4 = {1, 2, 3, 4, 5}
# Show all the elements that are different for each set, in this case just the 3 is common 
c1.symmetric_difference(c2)

{1, 2, 4, 5}