### Map Function

In [1]:
randomNumbers = [2, 5, 10, 23, 50, 33]

def number_double(number):
    return number * 2

map(number_double, randomNumbers)

In [2]:
m = map(number_double, randomNumbers)

In [3]:
next(m)

4

In [4]:
next(m)

10

In [5]:
list(m)

[20, 46, 100, 66]

##### If we use next, this iteration will not count for the next iterations as we see above

In [6]:
m = map(number_double, randomNumbers)
list(m)

[4, 10, 20, 46, 100, 66]

In [8]:
list(map(lambda x: x*2, randomNumbers))

[4, 10, 20, 46, 100, 66]

In [10]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]

list(map(lambda x,y: x * y, a, b))

[6, 14, 24, 36, 50]

In [16]:
c = [11, 12, 13, 14, 15]

list(map(lambda x,y,z: x*y*z, a, b, c))

[66, 168, 312, 504, 750]

In [13]:
class Person:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def __str__(self):
        return "{} of {} years".format(self.name, self.age)
    
people = [
    Person("Sa", 20),
    Person("Si", 15),
    Person("Su", 29),
    Person("Se", 12)
]

In [14]:
# Consider that this is a list of objects

def increment(person):
    person.age += 1
    return person

oldPeople = map(increment, people)

In [15]:
for person in oldPeople:
    print(person)

Sa of 21 years
Si of 16 years
Su of 30 years
Se of 13 years

In [19]:
people = [
    Person("Sa", 20),
    Person("Si", 15),
    Person("Su", 29),
    Person("Se", 12)
]

# we will create again a new object of the same class person, but with the previous object properties
oldPeople = map(lambda person: Person(person.name, person.age+1), people)

In [20]:
for person in oldPeople:
    print(person)

Sa of 21 years
Si of 16 years
Su of 30 years
Se of 13 years